<h1>Commentts#index</h1>

<%= form_with model: article do |form| %>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% end %>
  </div>
    <%= form.submit %>
  </div>
<% end %>
