<%= form_with model: article do |form| %>
  <div>
    <%= form.label :email %>

    <%= form.text_field :email, placeholder: "Enter your email here" %>
    
  </div>

  <div>
    <%= form.label :password %>
    
    <%= form.text_field :password, placeholder: "Enter your Password here" %>
  </div>

  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title, placeholder: "Enter title here" %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body, placeholder: "Enter Body here" %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
    <%= form.submit %>
  </div>
<% end %>