<h3> ---------------------------------</h3>


<%= form_with url: "/search", method: :get do |form| %>
  <%= form.label :query, "Search for:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>



<%= form.check_box :pet_dog %>
<%= form.label :pet_dog, "I own a dog" %>
<%= form.check_box :pet_cat %>
<%= form.label :pet_cat, "I own a cat" %>
<% end %>

<%= form_with method: :post do |form|%>

<%= form.radio_button :age, "child" %>
<%= form.label :age_child, "I am younger than 21" %>
<%= form.radio_button :age, "adult" %>
<%= form.label :age_adult, "I am over 21" %>

Paper(price: decimal, out_of_print: boolean, supplier_id: integer, editor_id: integer) 

<% end %>

<%= form_with method: :post do |form|%>

<%= form.text_area :message, size: "50x2" %>
<h3> hidden filed :- <%= form.hidden_field :parent_id, value: "foo" %> </h3>
<%= form.password_field :password %>
<h4> birthday month :- <%= form.month_field :birthday_month %> </h4>
<h4> birthday_week:- <%= form.week_field :birthday_week %></h4>
<h4> NAME :- <%= form.search_field :name %> </h4>
<h4> address:- <%= form.email_field :address %></h4>
<h4> telephone number :- <%= form.telephone_field :phone %>  </h4>
<h4> homepage :-<%= form.url_field :homepage %> </h4>
<h4> fav. color :- <%= form.color_field :favorite_color %> </h4>

<%= form.collection_select :city_id, Book.order(:name), :id, :name %>
<% end %>